{% extends "layout.html" %}

{% block title %}

    Home

{% endblock %}


{% block main %}

<!--
  <form action="/search" method="post">
      <div class="row justify-content-center" style="align-items: center; padding-top: 300px;">
          <div class="d-flex">
              <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="floatingInput" name="card" placeholder="Dark Magician" style = "height: 50px;width: 300px;">
                  <label for="floatingInput">Enter Card</label>
              </div>
              <button type="submit" class="btn btn-primary mb-3" style="height: 50px; width: 200px; margin-left: 10px;">Search</button>
          </div>
      </div>
  </form>
-->
<style>
  .image-text-container {
    display: flex;
    align-items: center; /* Center vertically */
  }

  .image-container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .text-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    flex: 1; /* Take up remaining space */
    width: 550px; height: 800px;
  }
</style>

{% if files != null %}

<div class="image-text-container">

  <div class="image-container">

    <img src="{{ files['Image'] }}" alt="Card image" style="width: 550px; height: 800px;">

  </div>

  <div class="text-container">

    <h2>{{ files['Name'] }}</h2>

    <p>{{files['Type']}}/{{files['Attribute']}}/{{files['Level']}}</p>
    <p>{{files['Desc']}}</p>
    <p>Price : $ {{files['Price']}}</p>

  </div>

</div>

{% endif %}
{% endblock %}
