{% extends "layout.html" %}

{% block title %}

    Home

{% endblock %}


{% block main %}


<style>
  .image-text-container {
    display: flex;
    align-items: stretch; /* Make items the same height */
  }

  .image-container {
    display: flex;
    flex-direction: column; /* Stack image and button vertically */
    align-items: stretch; /* Make items the same width */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
  }

  .image-container img {
    width: 100%; /* Make image take up full width of .image-container */
    height: auto; /* Let image height adjust automatically */
  }

  .image-container button {
    width: 100%; /* Make button take up full width of .image-container */
  }

  .text-container {
    background-color: darkgray;
    padding: 20px;
    border-radius: 5px;
    flex-grow: 1; /* Let .text-container take up remaining space */
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
  }
</style>

{% if files != null %}

<div class="image-text-container">

  <div class="image-container">

    <img src="{{ files['Image'] }}" alt="Card image" style="padding-bottom: 5px;position: initial">

    {% if session["user_id"] != null %}
    <button type="submit" style="color: rgb(0,0,0)  ;opacity:0.65; background-blend-mode: inherit;">Add Card to List</button>
    {% endif %}

  </div>

  <div class="text-container">

    <h2>{{ files['Name'] }}</h2>

    <p>{{files['Type']}} {% if files['Attribute'] != None %} / {{files['Attribute'] }} {% endif %}</p>
    <p>{{files['Desc']}}</p>
    <p>Price : $ {{files['Price']}}</p>

  </div>

</div>

{% endif %}
{% endblock %}
