{% extends "layout.html" %}

{% block title %} Delete Data {% endblock %}

{% block main %}
    <h1>Data Deletion Instructions</h1>

    <p>If you'd like to delete your data or revoke permissions related to our application, please follow these steps:</p>

    <ol>
        <li>Log in to your Facebook account.</li>
        <li>Go to Settings & Privacy > Settings.</li>
        <li>In the left column, click on "Apps and Websites".</li>
        <li>You'll see a list of apps and websites you've used Facebook to log into. Find our app in the list.</li>
        <li>Click on our app's name to view the permissions you've granted.</li>
        <li>To revoke permissions, click "Remove" next to the permissions you'd like to revoke.</li>
        <li>If you'd like to completely delete your account from our app, click "Remove" next to our app's name.</li>
        <li>Follow the prompts to confirm your action.</li>
    </ol>

    <p>If you have any questions or need further assistance, please contact us at <a href="emailme:thanospavlides1234@gmail.com">thanospavlides1234@gmail.com</a></p>

{% endblock %}
