{% extends "layout.html" %}

{% block title %} Privacy {% endblock %}

{% block main %}

<style>
  .text-container{
    flex: 1; /* Take up equal space */
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }

</style>
<div style="padding-top: 40px;"></div>
<div class = "text-container">
    <h1>Privacy Policy</h1>

    <p>This Privacy Policy governs the manner in which YuGiOh Database collects, uses, maintains, and discloses information collected from users (each, a "User") of the somthin.pythonanywhere.com website ("Site").</p>

    <h2>Information We Collect</h2>
    <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, fill out a form, and in connection with other activities, services, features, or resources we make available on our Site.</p>
    <p>Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us.</p>

    <h2>How We Use Collected Information</h2>
    <p>YuGiOh Database may collect and use Users personal information for the following purposes:</p>
    <ul>
        <li>- To personalize user experience</li>
        <li>- To improve our Site</li>
        <li>- To send periodic emails</li>
    </ul>

    <h2>Changes to This Privacy Policy</h2>
    <p>YuGiOh Database has the discretion to update this Privacy Policy at any time. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this Privacy Policy periodically and become aware of modifications.</p>

    <p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at <a href="emailme:thanospavlides1234@gmail.com">thanospavlides1234@gmail.com</a></p>
</div>
{% endblock %}
